body {
  font-family: sans-serif;
  font-size: 13px;
}

textarea {
  font-family: sans-serif;
}

.bg-main {
  color: #fff;
  background-color: #0B346E;
}

.bg-sub {
  color: #fff;
  background-color: #005CAF;
}

a {
  color: #555;
}

.max-width {
  max-width: 960px;
}

.bg-light-sub {
  background-color: #eee;
}
